#customer-label {
    color: pink;
}

#headerContainer {
    background-color: black;
}

#mainContainer {
    background-color: #e4e5e7;
}

#mainMenuContainer {
    background-color: black;
}

#subMenuContainer {
    background-color: #e4e5e7;
}

.a.x-btn-text {
    color: white;
}

.x-toolbar-left {
    background-color: #383838;
}

span.amount-debit {
    color: #59b12d;
}

td.alior-menu-ct-left {
    background-color: black;
}

td.alior-menu-ct-right {
    background-color: black;
}

td.alior-menu-ct-center {
    background-color: black;
}

